#fiXXX {
  position: fixed;
  line-height: 100px;
  width: 100%;
  bottom: 0;
  height: 100px;
  border: 0px solid black;
  box-shadow: 3px 3px 3px 3px grey;
  margin-left: 0;
  background: white;
}
#fiXXX span {
  font-size: 50px;
  margin: 0 1px;
}
#fiXXX i {
  font-size: 30px;
  margin: 0 1px;
}
#jindutiao {
  display: inline-block;
  height: 5px;
  background: lightgray;
  width: 59%;
}
#jindutiao cc {
  position: absolute;
  top: 17px;
  text-align: right;
}
#yinliang {
  display: inline-block;
  height: 5px;
  background: lightgray;
  width: 5%;
}
#yinliang dd {
  display: inline-block;
  height: 5px;
  background: green;
  width: 98%;
  position: relative;
  float: left;
}
.r {
  color: #ff0000;
}
